<div class="row">
    <div class="col">
        <div data-ng-include="'header.html'"></div>

        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <form data-ng-submit="home.search()" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="has_photo">Has Photo</label>
                                    <select class="form-control form-control-sm" id="has_photo"
                                            data-ng-model="home.filter.has_photo"
                                            data-ng-options="o.value as o.name for o in home.options"
                                            data-ng-change="home.search()">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="in_contact">In Contact</label>
                                    <select class="form-control form-control-sm" id="in_contact"
                                            data-ng-model="home.filter.in_contact"
                                            data-ng-options="o.value as o.name for o in home.options"
                                            data-ng-change="home.search()">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="favourite">Favourite</label>
                                    <select class="form-control form-control-sm" id="favourite"
                                            data-ng-model="home.filter.favourite"
                                            data-ng-options="o.value as o.name for o in home.options"
                                            data-ng-change="home.search()">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="distance">Distance</label>
                                    <select class="form-control form-control-sm" id="distance"
                                            data-ng-model="home.filter.distance_in_km"
                                            data-ng-options="o.value as o.name for o in [{name: 'All', value: null}, {name: 'Less then 30 km', value: 0}, {name: '30 km to 300 km', value: 1}, {name: 'Greater then 300 km', value: 2}]"
                                            data-ng-change="home.search()">
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="age">Age</label>
                                    <div id="age">
                                        <rzslider
                                            rz-slider-model="home.filter.age[0]"
                                            rz-slider-high="home.filter.age[1]"
                                            rz-slider-options="{floor: 18, ceil: 95}"></rzslider>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 ml-auto">
                                    <label for="height">Height</label>

                                    <div id="height">
                                        <rzslider
                                            rz-slider-model="home.filter.height[0]"
                                            rz-slider-high="home.filter.height[1]"
                                            rz-slider-options="{floor: 135, ceil: 210}"></rzslider>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 ml-auto">
                                    <label for="compatibility_score">Compatibility Score</label>

                                    <div id="compatibility_score">
                                        <rzslider
                                            rz-slider-model="home.filter.compatibility_score[0]"
                                            rz-slider-high="home.filter.compatibility_score[1]"
                                            rz-slider-options="{floor: 1, ceil: 99}"></rzslider>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm" data-ng-click="home.init()">
                                Reset
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-secondary" role="alert" data-ng-hide="home.persons.length">
            Sorry! No Data Available ...
        </div>
        <div class="card-columns" data-ng-show="home.persons.length">
            <div class="card" data-ng-repeat="item in home.persons">
                <div class="card-head">
                    <img class="card-img-top"
                         alt="100%x160"
                         data-ng-src="{{ item.main_photo || 'images/default-thumbnail.jpg' }}"
                         data-holder-rendered="true">
                    <i class="fa fa-heart fa-2x text-danger" aria-hidden="true" data-ng-if="item.favourite"
                       data-toggle="tooltip"
                       data-placement="right" title="Favourite"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ item.display_name }}
                        <small>{{ item.age }} years old</small>
            <span class="badge badge-primary pull-right" data-toggle="tooltip" data-placement="right"
                  title="Compatibility Score">{{item.compatibility_score * 100}}<small class="text-percent">%
            </small></span></h4>
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <th width="40%" scope="row">Job Title</th>
                            <td width="60%">{{ item.job_title }}</td>
                        </tr>
                        <tr>
                            <th width="40%" scope="row">Religion</th>
                            <td width="60%">{{ item.religion }}</td>
                        </tr>
                        <tr>
                            <th width="40%" scope="row">Contacts</th>
                            <td width="60%">{{ item.contacts_exchanged }}</td>
                        </tr>
                        <tr>
                            <th width="40%" scope="row">Height</th>
                            <td width="60%">{{ item.height_in_cm }} cm</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="card-text">
                        <small class="text-muted">Location: {{ item.city.name }}, {{ item.city | distance }} km</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

