<div class="row">
  <div class="col">
    <div data-ng-include="'header.html'"></div>
    <h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

    <!-- <h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

     <img src="images/angular.png" height="100" />
     <img src="images/gulp.png" height="100" />
     <img src="images/browserify.png" height="100" />

     <hr/>
     <div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div>-->

    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
             src="http://thecatapi.com/api/images/get?format=src&type=gif"
             data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
        <div class="card-body">
          <h4 class="card-title">display_name</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
             src="http://thecatapi.com/api/images/get?format=src&type=gif"
             data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
             src="http://thecatapi.com/api/images/get?format=src&type=gif"
             data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
             src="http://thecatapi.com/api/images/get?format=src&type=gif"
             data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
             src="http://thecatapi.com/api/images/get?format=src&type=gif"
             data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
             src="http://thecatapi.com/api/images/get?format=src&type=gif"
             data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
             src="http://thecatapi.com/api/images/get?format=src&type=gif"
             data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

    </div>

  </div>
</div>

