<div class="row">
  <div class="col">
    <div data-ng-include="'header.html'"></div>
    <h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

    <div class="card-columns">
      <div class="card" data-ng-repeat="item in home.persons">
        <div class="card-head">
          <img  class="card-img-top"
               alt="100%x160"
               data-ng-src="{{ item.main_photo || 'images/default-thumbnail.jpg' }}"
               data-holder-rendered="true">
          <i class="fa fa-heart fa-2x text-danger" aria-hidden="true" data-ng-if="item.favourite"  data-toggle="tooltip" data-placement="right" title="Favourite"></i>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.display_name }} <small>{{ item.age }} years old</small> <span class="badge badge-primary pull-right" data-toggle="tooltip" data-placement="right" title="Compatibility Score">{{item.compatibility_score * 100}}<small class="text-percent">%</small></span></h4>
          <table class="table table-sm">
            <tbody>
            <tr>
              <th width="40%" scope="row">Job Title</th>
              <td width="60%">{{ item.job_title }}</td>
            </tr>
            <tr>
              <th width="40%" scope="row">Religion</th>
              <td width="60%">{{ item.religion }}</td>
            </tr>
            <tr>
              <th width="40%" scope="row">Contacts</th>
              <td width="60%">{{ item.contacts_exchanged }}</td>
            </tr>
            <tr>
              <th width="40%" scope="row">Height</th>
              <td width="60%">{{ item.height_in_cm }} cm</td>
            </tr>
            </tbody>
          </table>
          <p class="card-text"><small class="text-muted">Location: {{ item.city.name }}, 30 km</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

